/*root font */
html {font-size: 20px;
      font-family: "Helvetica", Gadget, sans-serif
}

.boxes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1rem;
}

.boxes h1 {
  align-self: center;
  color:  #26bd37;
}

.boxes fieldset {
  align-content: center;
  align-self: center;
  align-items: center;
  width: 98%;
  color: #26bd37;
  background-color:  #ffffff;
  border-color: #26bd37;
  border-width: medium;
}

.submit{
  width: 100%;
  margin-top: 1rem;
  border-width: medium;
  border-color: green;
  background-color: green;
  color: white;
}

.taskBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1rem;
  color: #26bd37;
  background-color:  #ffffff;
  border-color: #26bd37;
}

.taskBox h1 {
  align-self: center;
  color:  #26bd37;
}
  .taskBox fieldset {
    align-content: center;
    align-self: center;
    align-items: center;
    width: 98%;
    color: #26bd37;
    background-color:  #ffffff;
    border-color: #26bd37;
    border-width: medium;
  }
