/*root font */
html {font-size: 20px;
      font-family: "Helvetica", Gadget, sans-serif
}

.boxes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin: 1rem;

}

.boxes h1 {
  align-self: center;
  color:  #26bd37;
}

.boxes fieldset {
  align-self: center;
  width: 98%;
  color: #26bd37;
  background-color:  #ffffff;
  border-color: #26bd37;
  border-width: medium;
  margin: 1rem;
}

.boxes input {
  margin 1rem;
}
