/*root font */
html {font-size: 20px;
      font-family: "Aria", Gadget, sans-serif
}

.boxes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin: 1rem;
}

.boxes h1 {
  align-self: center;
}

.boxes fieldset {
  width: 98%
}
